%h1 Edit Existing Problem

= form_tag problem_path(@problem), :method => :put  do

  = label :user, :name, 'Name'
  = text_field :user, :name
  
  = label :user, :phone_number, 'Phone Number'
  = text_field :user, :phone_number
  
  = label :problem, :location, 'Location'
  = text_field :problem, :location

  = label :problem, :skills, 'Skills Required'
  = select_tag('skills', options_from_collection_for_select(@all_skills, 'id', 'skill_name'))

  = label :problem, :summary, 'Problem Summary'
  = text_field :problem, :summary

  = label :problem, :description, 'Description'
  = text_area :problem, :description

  = submit_tag 'Update Problem'
