%html
  %head
    %link{:href => "bootstrap/css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}
      %link{:href => "css/main.css", :rel => "stylesheet", :type => "text/css"}
  %body
    .navbar.navbar-static-top
      .navbar-inner
        .container
          %a#nav-left.brand.pull-left Future Scientists
          - unless flash[:notice].nil?
            = flash[:notice]
          %ul.nav.pull-right
            %li
              %a#submit_new_problem{:href => "problems/new"} Submit New Problem
            %li
              %a#sign_up{:href => "accounts/new"} Sign Up
            %li
              - if session[:account].nil?
                %a#log_in{:href => "accounts/login_form"} Log In
              - else
                %a#log_out{:href => "accounts/logout"} Log Out
    %br
      .container
        .row
          .span8.offset1
            .well
              %table#listings_table.table.table-striped.table-bordered
                %thead
                  %tr
                    %th Problem Summary
                    %th Skills
                    %th Location
                    %th Wage
                %tbody
                  - @problems.each do |problem|
                    %tr
                      %td= link_to "#{problem.summary}", problem_path(problem)
                      %td= problem.skills
                      %td= problem.location
                      %td= '50'
          .filter
            = form_tag problems_path, :method => :get, :id => "problems_form" do
              .filter_skills
                Filter by skill:
                - if @sessionSkills.include? "All"
                  = select_tag('skills', "<option selected=\"\">All</option>".html_safe<<options_from_collection_for_select(@curr_skills, 'skills', 'skills', {:selected => @sessionSkills}), :multiple => true)
                - else
                  = select_tag('skills', "<option>All</option>".html_safe<<options_from_collection_for_select(@curr_skills, 'skills', 'skills', {:selected => @sessionSkills}), :multiple => true)
              .filter_region
                Filter by region:
                - if @sessionAddresses.include? "All"
                  = select_tag('address', "<option selected=\"\">All</option>".html_safe<<options_from_collection_for_select(@curr_addresses, 'location', 'location', {:selected => @sessionAddresses}), :multiple => true)
                - else
                  = select_tag('address', "<option>All</option>".html_safe<<options_from_collection_for_select(@curr_addresses, 'location', 'location', {:selected => @sessionAddresses}), :multiple => true)
              = submit_tag 'Refresh', :id=> "problems_submit"
