=render :partial => 'layouts/header'
%br
	.span8.offset1
		.well
			.container
				.span8
				-# in app/views/show.html.haml
				- if flash[:notice] != nil
					= flash[:notice]
				%h3 Details about #{@problem.summary}
				%ul
					- if !@user.name.nil? and @user.name.strip != ""
						%li Requested by: #{@user.name}
					%li Location: #{@problem.location}
					%li Skills: #{@problem.skills}
					%li Description: #{@problem.description}
				- if @verifiedUser or @is_admin
					= link_to 'Edit', edit_problem_path(@problem)
					= button_to 'Delete', problem_path(@problem), :method => :delete, :confirm => 'Are you sure?'
				%br
				= link_to 'Back to problems list', problems_path
