-# in app/views/show.html.haml
- if flash[:notice] != nil
  = flash[:notice]

%h2 Details about #{@problem.summary}
%ul
  %li by #{@user.name}
  %li location: #{@problem.location}
  %li skills: #{@problem.skills}
  %li description: #{@problem.description}
  %li phone number: #{@user.phone_number}
- if @verifiedUser
  = link_to 'Edit', edit_problem_path(@problem)
  = button_to 'Delete', problem_path(@problem), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to problems list', problems_path
