=render :partial => '/layouts/header'
%br
  .span8.offset1
    .well
      .container
        .span8
          %h3 Edit Email
          = form_tag account_path(session[:account]), :method => :put  do
            = hidden_field_tag :type, "edit_email"
            = label :email, :address, 'Email'
            = text_field :email, :address, :type => 'email', :value => @account_email, :required => 'required'
            %br
            = submit_tag 'Update', :class=>"btn btn-primary span2"

          %h3 Edit Password
          = form_tag account_path(session[:account]), :method => :put  do
            = hidden_field_tag :type, "edit_password"
            = label :password, :current, 'Current Password'
            = text_field :password, :current, :type => 'password', :required => 'required'
            = label :password_new, :new, 'New Password (6 characters with at least one uppercase)'
            = text_field :password_new, :new, :type => 'password', :pattern=>"^.*(?=.{6,})(?=.*[a-z])(?=.*[A-Z]).*$", :required => 'required'

            = label :reenter, :pass, 'Reenter New Password'
            = text_field :reenter, :pass, :type => 'password', :required => 'required'
            %br
            = submit_tag 'Change Password', :class=>"btn btn-primary span2"

          %h3 Edit Phone Number
          = form_tag account_path(session[:account]), :method => :put  do
            = hidden_field_tag :type, "edit_phone"
            = label :phone, :number, 'New Phone Number'
            = text_field :phone, :number, :value => @user_phone, :required => 'required'
            %br
            = submit_tag 'Change Phone', :class=>"btn btn-primary span2"

          %h3 Change Location
          = form_tag account_path(session[:account]), :method => :put  do
            = hidden_field_tag :type, "edit_location"
            = label :location, :name, 'New Location'
            = text_field :location, :name, :value => @user_location, :pattern => "(\\d{5}([\\-]\\d{4})?)"
            Max: #{Problem.SUMMARY_LIMIT} Characters
            %br
            = submit_tag 'Change Location', :class=>"btn btn-primary span2"

          %h3 Add More Skills
          - @user.account.verified_skills.each do |skill|
            - @skills_array.push(skill)
          = form_tag account_path(session[:account]), :method => :put  do
            = hidden_field_tag :type, "edit_skills"

            - @all_skills.each do |skill|
              - if not @skills_array.include?(skill.skill_name)
                = label :skill, skill.skill_name, :style => 'display: inline;'
                = check_box_tag "skills[]", skill.skill_name, false, :id => skill.skill_name
                %br    
            %p NOTE: Skills will be verified by an admin
            = submit_tag 'Change Skills', :class=>"btn btn-primary span2"

