%h1 Login

- unless flash[:error].nil?
  = flash[:error]

= form_tag 'login' do

  = label :account, :email, 'Email'
  = text_field :account, :email
  
  = label :account, :password, 'Password'
  = text_field :account, :password
  
  = submit_tag 'Login'