%h1 Create New Account

- unless @account.errors.empty?
  The following fields were missing:
  %ul
    - @account.errors.full_messages.each do |error|
      %li= error
        
- unless @user.errors.empty?
  The following fields were missing:
  %ul
    - @user.errors.full_messages.each do |error|
      %li= error

= form_tag accounts_path do

  = label :account, :account_name, 'Account Name'
  = text_field :account, :account_name

  = label :account, :password, 'Password'
  = text_field :account, :password

  = label :user, :name, 'Name'
  = text_field :user, :name

  = label :user, :phone_number, 'Phone Number'
  = text_field :user, :phone_number
  
  = label :user, :location, 'Location'
  = text_field :user, :location
  
  = label :account, :skills, 'Skills'
  - @all_skills.each do |skill|
    = skill
    = check_box_tag "skills[#{skill}]", 1
    
  %p NOTE: Skills will be verified by an admin
    
  = submit_tag 'Create Account'