=render :partial => 'layouts/header'
%br
	.span8.offset1
		.well
			.container
				.span3
					- if Account.find(:all).empty? or (!@user.account.nil? and @user.account.admin)
						%legend Admin - #{@user.account.account_name}
						%ul
							%li
								%a#profile{:href => "/accounts/skills_verification"} Skills Verification
							%li
								%a#profile{:href => new_account_path} Add Admin Account
					- else
						%h4 User - #{@user.account.account_name}
				.span6
					%h5 My profile:
					%ul
						%li Name: #{@user.name}
						%li Location: #{@user.location}
						%li Email: #{@user.account.email}
						%li Phone number: #{@user.phone_number}
					%h5 My verified skills:
					%ul
						- if not @user.account.verified_skills.empty?
							- @user.account.verified_skills.each do |skill|
								%li #{skill}
					%a#account_edit{:href => edit_account_path(@user.account.id)} Edit Profile
