=render :partial => 'layouts/header'
%br
	.span10.offset1
		.well
			.container			
				%h3.dashboard THE DASHBOARD
				.span3
					- if Account.find(:all).empty? or (!@user.account.nil? and @user.account.admin)
						%legend Admin - #{@user.account.account_name}
						%ul.no-bullets
							%li= link_to "Edit Profile", edit_account_path(@user.account.id)
							%li
								%a#profile{:href => "/accounts/skills_verification"} Skills Verification
							%li
								%a#profile{:href => new_account_path} Add Admin Account
							%li
								%a#profile{:href => new_skill_path} Add a New Skill
					- else
						%h4 User - #{@user.account.account_name}
						%ul.no-bullets
							%li= link_to "Edit Profile", edit_account_path(@user.account.id)
				.span6
					%h5 My profile:
					%ul.no-bullets
						%li Name: #{@user.name}
						%li Location: #{@user.location}
						%li Email: #{@user.account.email}
						%li Phone number: #{@user.phone_number}
					%h5 My verified skills:
					%ul.no-bullets
						- if not @user.account.verified_skills.empty?
							- @user.account.verified_skills.each do |skill|
								%li #{skill}
						- else
							%p You have no verified skills.
					%h5 My submitted problems:
					- if @user.problems.empty?
						%p You have not submitted any problems.
					- else
						%table#listings_table.table.table-striped.table-bordered
							%thead
								%tr
									%th Problem Summary
									%th Skills
									%th Location
									%th Wage
									%th Accepted?
							%tbody
								- @user.problems.each do |problem|
									%tr
										%td= link_to "#{problem.summary}", problem_path(problem.id)
										%td= problem.skills
										%td= problem.location
										%td= problem.wage
										- if problem.archived == true
											%td= "Yes"
										- else
											%td= "No"
					%h5 My accepted problems:
					- if @account.accepted_problems.empty?
						%p You have not accepted any problems.
					- else
						%table#listings_table.table.table-striped.table-bordered
							%thead
								%tr
									%th Problem Summary
									%th Skills
									%th Location
									%th Wage
							%tbody
								- @account.accepted_problems.each do |problem_id|
									%tr
										- problem = Problem.find_by_id(problem_id)
										%td= link_to "#{problem.summary}", problem_path(problem_id)
										%td= problem.skills
										%td= problem.location
										%td= problem.wage



