=render :partial => 'layouts/header'
%br
	.span11.offset1
		.well
			.container			
				%h3.dashboard THE DASHBOARD
				.span3
					- if Account.find(:all).empty? or (!@acc.nil? and @acc.admin)
						%legend Admin - #{@acc.account_name}
						%ul.no-bullets
							%li= link_to "Edit Profile", edit_account_path(@acc.id)
							-# %li
								-# %a#profile{:href => "/accounts/skills_verification"} Skills Verification
							%li
								%a#profile{:href => new_account_path} Add Admin Account
							-# %li
								-# %a#profile{:href => new_skill_path} Add a New Skill
					- else
						%h4 User - #{@acc.account_name}
						%ul.no-bullets
							%li= link_to "Edit Profile", edit_account_path(@acc.id)
				.span7
					%h5 My profile:
					%ul.no-bullets
						%li Name: #{@acc.name}
						%li Location: #{@acc.location}
						%li Email: #{@acc.email}
						%li Phone number: #{@acc.phone_number}
					-# %h5 My verified skills:
					-# %ul.no-bullets
						-# - if not @acc.verified_skills.empty?
							-# - @acc.verified_skills.each do |skill|
								-# %li #{skill}
						-# - else
							%p You have no verified skills.
					%h5 My submitted problems:
					- if @acc.problems.empty?
						%p You have not submitted any problems.
					- else
						%table#listings_table.table.table-striped.table-bordered
							%thead
								%tr
									%th Problem Summary
									-# %th Skills
									%th Location
									%th Wage
									%th Accepted?
							%tbody
								- @acc.problems.each do |problem|
									%tr
										%td= link_to "#{problem.summary}", problem_path(problem.id)
										-# %td= problem.skills
										%td= problem.location
										%td= problem.wage
										- if problem.archived == true
											%td.yes= problem.account.account_name + " (" + problem.account.phone_number + ")"
										- else
											%td.no= "No"
					%h5 My accepted problems:
					- if @acc.problems.empty?
						%p You have not accepted any problems.
					- else
						%table#listings_table.table.table-striped.table-bordered
							%thead
								%tr
									%th Problem Summary
									-# %th Skills
									%th Location
									%th Wage
									%th Problem owner
							%tbody
								- @acc.problems.each do |problem_id|
									%tr
										- problem = Problem.find_by_id(problem_id)
										%td= link_to "#{problem.summary}", problem_path(problem_id)
										-# %td= problem.skills
										%td= problem.location
										%td= problem.wage
										- if problem.account.nil?
											%td= problem.account.phone_number
										- else
											%td= problem.account.account_name + " (" + problem.account.phone_number + ")"



