=render :partial => 'layouts/header'
%br
	.span9.offset1
		.well
			.container
				.span3
					- if Account.find(:all).empty? or (!@user.account.nil? and @user.account.admin)
						%#{@user.account.account_name} - ADMIN
							%ul
								%li
									%a#profile{:href => "/accounts/skill"} Skill Verification
								%li
									%a#profile{:href => "/accounts/admin"} Admin Verification
					- else
						%#{@user.account.account_name} - USER
				.span6
					%legend 
						%ul
							%li Name: #{@user.name}
							%li Location: #{@user.location}
							%li Email: #{@user.account.email}
							%li Phone number: #{@user.phone_number}
							%li Skills: #{@user.account.skills}
					%br
					%a#account_edit{:href => "/accounts/edit"} Edit
