=render :partial => 'layouts/header'
%br
	.span9.offset1
		.well
			.container
				.span3
					- if Account.find(:all).empty? or (!@user.account.nil? and @user.account.admin)
						%a#profile{:href => "/accounts/show"} ADMIN - #{@user.account.account_name} 
						%ul
							%li
								%a#profile{:href => "/accounts/skill"} Skill Verification
							%li
								%a#profile{:href => "/accounts/admin"} Admin Verification
					- else
						%a#profile{:href => "/accounts/show"} USER - #{@user.account.account_name}
				.span6
					%h4 Profile
					%ul
						%li Name: #{@user.name}
						%li Location: #{@user.location}
						%li Email: #{@user.account.email}
						%li Phone number: #{@user.phone_number}
						%li Skills: #{@user.account.skills}
					%a#account_edit{:href => "/accounts/edit"} Edit
